@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color:#fff;
    color: #fff;
    /* margin-bottom: 20vh; */
}

/* Text Decorations */

h1 {
    color: black;
    font-size: 28px;
}

h2 {
  color: black;
  font-size: 23px;
}

p {
    color: black;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

/* Footer */

/* Navigation Bar */

.logo {
    float: left;
    margin-left: 1%;
    position: absolute;
}

.socials {
  font-size: 28px;
  color: #00c8ff;
}

#bottom {
    /* position: absolute; */
    bottom: 0;
  }

.topnav {
    overflow: hidden;
    text-align: center;
  }
  
.topnav a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.333s ease;
}

.topnav a:hover {
    color: rgb(106, 196, 166);
    transition: all 0.333s ease;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* stuff? */

.logopic {

    margin-top: 13vh;

    width: 50vh;
    height: auto;
    
}

.abouttitle {
  margin-top: 8vh;
}

.exesabout {
  color: #b400ff;
  font-size: 38px;
}

.discord {
  margin-top: 18vh;
  margin-left: .5vw;
}

.part1 {
  float: right;
  margin-right: 32vw;
  width: 450px;
  height: 750px;
}

.part2 {
  float: left;
  margin-left: 32vw;
}

.part2-1 {
  width: 350px;
  height: 250px;
  margin-bottom: 5vh;
  background-color: #b400ff;
  border-radius: 25px;
}

.part2-2 {
  width: 350px;
  height: 250px;
  margin-bottom: 5vh;
  background-color: #b400ff;
  border-radius: 25px;
}

.part2-3 {
  width: 350px;
  height: 250px;
  background-color: #b400ff;
  border-radius: 25px;
}

.rulestitle {
  margin-top: 8vh;
}

.rulename {
  color: white;
  font-size: 34px;
}

.error {
  color: #b400ff;
}

.gohome {
  margin-top: 0px; 
  padding: 1rem; 
  font-size: 3rem; 
  border: 2px solid white; 
  border-radius: 1rem;
  transition: .25s ease;
}

.gohome:hover {
  border: 2px solid #b400ff;
  color: #b400ff;
}

.picrightabout {
  float: right;
  margin-right: 15vh;
  margin-top: 7vh;
}

.picrightabout img {
  border: 5px solid rgb(106, 196, 166);
  border-radius: 20px;
}

.textleftabout {
  float: left;
  margin-left: 15vh;
  margin-top: 7vh;
  text-align: right;
}

.picleftabout {
  float: left;
  margin-left: 15vh;
  margin-top: 7vh;
}

.picleftabout img {
  border: 5px solid rgb(106, 196, 166);
  border-radius: 20px;
}

/* contact */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid rgb(0, 0, 0); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(106, 196, 166);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(106, 196, 166);
}

/* Add a background color and some padding around the form */
.contactainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 700px;
  height: 600px;
  float: right;
  margin-right: 25vh;
  margin-top: 16vh;
}

label {
  color: black;
}

.contactleft {
  float: left;
  margin-left: 25vh;
  margin-top: 20vh;
}

